spring:
  application:
    name: loanmanagement
  main:
    banner-mode: off
  datasource:
    url: jdbc:mysql://localhost:3306/loanmanagement
    username: root
    password: 9787
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8080
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
